<div class="row" *ngIf="editRule">
    <div class="col-12 update-rule-title">
        <span class="label">Rule - </span><span class="value">{{form.value.name}}</span>
    </div>
</div>
<div class="row m-y-20">
    <div class="col-2">

        <mat-form-field appearance="fill">
            <mat-label>Select Year</mat-label>
            <mat-select [disableOptionCentering]="true" (ngModelChange)="changeYear($event)" [(ngModel)]="selectedYear">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <div class="col-2" >

            
        <mat-checkbox class="example-margin" (ngModelChange)="changeFlexibledate($event)" [(ngModel)]="flexibleDates">Flexible Date(s)</mat-checkbox>

    </div> 

    <div class="col-2">

        <mat-form-field appearance="fill">
            <mat-label>Select Month</mat-label>
            <mat-select [disableOptionCentering]="true" [disabled]="flexibleDates" (ngModelChange)="changeMonth($event)" [(ngModel)]="selectedMonth">
                <mat-option *ngFor="let month of monthList" [value]="month.value">
                    {{month.display}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="col-2" >

        <mat-form-field appearance="fill">
            <mat-label>Select Week of Month</mat-label>
            <mat-select [disableOptionCentering]="true" [disabled]="selectedDate || !(dateList && dateList.length > 0)  || flexibleDates" (ngModelChange)="changeWeek($event)" [(ngModel)]="selectedWeek">
                <mat-option *ngFor="let week of weekList" [value]="week">
                    {{week}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <div class="col-2">

        <mat-form-field appearance="fill">
            <mat-label>Select Day of Week</mat-label>
            <mat-select [disableOptionCentering]="true" [disabled]="selectedDate || !(dateList && dateList.length > 0) || flexibleDates" (ngModelChange)="changeDay($event)" [(ngModel)]="selectedDay">
                <mat-option *ngFor="let day of dayList" [value]="day.value">
                    {{day.display}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="col-2">
        <button type="button" (click)="reset()" class="btn btn-secondary">Reset</button>
        <button type="button" (click)="apply()" [disabled]="!selectedMonth || !selectedWeek || !selectedDay" class="btn btn-dark ms-2">Preview</button>
    </div>


</div>


<div class="row">
    <div class="col-12">
        <div class="card-container">
            <ycd-example-section (sendYearChanged)="sendYearChanged($event)" [year]="selectedYear"
                [prefrence]="selectedPrefrence" [customDateSelection]="flexibleDates" (dateSelected)="dateSelected($event)">
            </ycd-example-section>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 btn-container">
        
        <button type="button" (click)="cancel()" class="btn btn-secondary">Clear</button>
        <button type="button" *ngIf="editRule" data-bs-toggle="modal" data-bs-target="#disbaleConfirmationModal" class="btn btn-dark">Disable Rule</button>
        <button type="button" *ngIf="flexibleDates" [disabled]="!(selectedDateList && selectedDateList.length > 0)" data-bs-toggle="modal" data-bs-target="#confirmationModal"
            class="btn btn-dark"><span *ngIf="editRule">Update Rule</span><span *ngIf="!editRule">Save Rule</span></button>
        <button type="button" *ngIf="!flexibleDates" [disabled]="!(selectedMonth && selectedWeek && selectedDay)" data-bs-toggle="modal" data-bs-target="#confirmationModal"
                class="btn btn-dark"><span *ngIf="editRule">Update Rule</span><span *ngIf="!editRule">Save Rule</span></button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" #confirmationModal tabindex="-1" aria-labelledby="confirmationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title m-0" id="confirmationPopupTitle"><span *ngIf="editRule">Update Rule</span><span *ngIf="!editRule">Create Rule</span></h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form [formGroup]="form">
            <div class="modal-body">

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Rule Name</mat-label>
                    <input matInput placeholder="" formControlName="name">
                    <mat-error *ngIf="form.get('name').hasError('required')">
                        Rule Name is required.
                    </mat-error>
                </mat-form-field>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" [disabled]="!form.valid" (click)="saveRule()" class="btn btn-dark">Submit Rule</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!--Rule disable Modal -->
<div class="modal fade" id="disbaleConfirmationModal" #disbaleConfirmationModal tabindex="-1" aria-labelledby="disbaleConfirmationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title m-0" id="disbaleConfirmationModalTitle">Disable Rule</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">

                <span>Are you sure, you want to disable {{form.value.name}}?</span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" (click)="disableRuleConfirm()" class="btn btn-dark">Ok</button>
            </div>
        </div>
    </div>
</div>