.m-t-90 {
    margin-top: 90px !important;
}

.navbar {
    box-shadow: 0 3px 6px -2px grey;
}

.logo {
    font-size: 22px;
    font-weight: bolder;
    color: #012834;
}

.path {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
}

.display-block {
    display: block;
}

.active
 {
    background-color: #eeebeb;
    border-bottom: 2px Solid black;
 }
.profile {
    float: right;
    position: relative;
    top: 28px;s
    span {
        font-size: 20px;
        margin-right: 7px;
    }
}
