<header>
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid display-block">
      <div class="row">
        <div class="col-12">
          <a class="navbar-brand" [routerLinkActive]="['active']" class="path" [routerLinkActiveOptions]="{exact: true}">
            <img src="../assets/logo.svg" height="80" width="80" alt="" loading="lazy" />
            <span class="logo">Calendar Scheduler</span>
          </a>
          <a [routerLinkActive]="['active']" class="path" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['']">Dashboard</a>
          <a [routerLinkActive]="['active']" class="path" [routerLink]="['schedule']">Schedule</a>
          <a [routerLinkActive]="['active']" class="path" [routerLink]="['create-rule']">Create Rule</a>

          <a class="navbar-brand profile" href="#">
            <span>Millan, David</span>
            <img src="../assets/userIcon.png" height="20" alt="" loading="lazy" />
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
<div class="container-fluid m-t-90">
  <router-outlet></router-outlet>
</div>