<div class="row m-y-20">
  <div class="col-12">
    <div class="row min-h-50">
      <div class="col-12 px-3 pt-4 pb-3">
        <span class="title">Calender List</span>
      </div>

      <div class="col-12">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

          <!-- name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- active Column -->
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let element"> {{element.active}} </td>
            <!--<td mat-cell *matCellDef="let element"><mat-slide-toggle
              class="example-margin"
              [color]="toggleColor"
              [checked]="element.active">
          </mat-slide-toggle></td>-->
          </ng-container>

          <!-- rule ids Column -->
          <ng-container matColumnDef="ruleIds">
            <th mat-header-cell *matHeaderCellDef> Rule Name </th>
            <td mat-cell *matCellDef="let element"> {{element.ruleName}} </td>
          </ng-container>


          <ng-container matColumnDef="createdDateAndTime">
            <th mat-header-cell *matHeaderCellDef> Create date and time </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDateAndTime}} </td>
          </ng-container>

          <ng-container matColumnDef="createdUser">
            <th mat-header-cell *matHeaderCellDef> Created User </th>
            <td mat-cell *matCellDef="let element"> {{element.createdUser}} </td>
          </ng-container>

          <ng-container matColumnDef="lastModifiedDateAndTime">
            <th mat-header-cell *matHeaderCellDef> Last modified date and time </th>
            <td mat-cell *matCellDef="let element"> {{element.lastModifiedDateAndTime}} </td>
          </ng-container>

          <ng-container matColumnDef="lastModifiedUser">
            <th mat-header-cell *matHeaderCellDef> Last modified user </th>
            <td mat-cell *matCellDef="let element"> {{element.lastModifiedUser}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="pointer" (click)="goToSchedule(row)"></tr>
        </table>

      </div>
    </div>

    <div class="row min-h-50">
      <div class="col-12 px-3 pt-4 pb-3">
        <span class="title">Rule List</span>
      </div>
      <div class="col-12">

        <table mat-table [dataSource]="ruleDataSource" class="mat-elevation-z8">

          <!-- rule id Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Rule Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>


          <!-- rule name Column -->
          <ng-container matColumnDef="holidayType">
            <th mat-header-cell *matHeaderCellDef> Rule Name </th>
            <td mat-cell *matCellDef="let element"> {{element.holidayType}} </td>
          </ng-container>

          <!-- active Column -->
          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef> Active </th>
            <td mat-cell *matCellDef="let element"> {{element.active}} </td>
          </ng-container>

           <!-- rule name Column -->
           <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef> Rule Name </th>
            <td mat-cell *matCellDef="let element"> {{element.month}} </td>
          </ng-container>

          <ng-container matColumnDef="createdDateAndTime">
            <th mat-header-cell *matHeaderCellDef> Create date and time </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDateAndTime}} </td>
          </ng-container>

          <ng-container matColumnDef="createdUser">
            <th mat-header-cell *matHeaderCellDef> Created User </th>
            <td mat-cell *matCellDef="let element"> {{element.createdUser}} </td>
          </ng-container>

          <ng-container matColumnDef="lastModifiedDateAndTime">
            <th mat-header-cell *matHeaderCellDef> Last modified date and time </th>
            <td mat-cell *matCellDef="let element"> {{element.lastModifiedDateAndTime}} </td>
          </ng-container>

          <ng-container matColumnDef="lastModifiedUser">
            <th mat-header-cell *matHeaderCellDef> Last modified user </th>
            <td mat-cell *matCellDef="let element"> {{element.lastModifiedUser}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedRuleColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedRuleColumns;" class="pointer" (click)="goToCreateRule(row)"></tr>
        </table>

      </div>
    </div>
  </div>
</div>
